.layout {
    display: flex;
  }
  main {
    width: 100%;

  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    width: 230px;
    flex-shrink: 0;
    background-color: var(--color-white);
    overflow: auto;
    color: var(--color-dark);
    transition: all 0.5s;
    box-shadow: var(--box-shadow) ;
    z-index: 99;
  }
  
  .top_section {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 2px solid #ccc;
    transition: all 0.5s;
    background-color: var(--color-primary);
    height: 70px;
  }
  .logo {
    font-size: 30px;
    color: var(--color-white);
  }
  .inventory{
    h1{
      cursor:pointer;
      display:inline;
      font-size: 25px;
      font-weight:600;
    }
  
  }
  .bars {
    display: flex;
    font-size: 25px;
    cursor: pointer;
    color: var(--color-white);
    
  }
  
  .bars:hover {
    color: var(--color-primary);
    font-size: 27px;
  }
  
  .sidebar-item {
    padding: 0.75em 1em;
    display: block;
     border-radius: 5px;
     border-bottom: 2px solid #ccc;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.1s;
    white-space: nowrap;
  }
  
  .s-parent {
    border-bottom: 2px solid #ccc;
  }
  
  .sidebar-item:hover {
    color: var(--color-primary);

  }
  
  .sidebar-title {
    display: flex;
    font-size: 1.1em;
    justify-content: space-between;
    align-items: center;
  }
  
  .sidebar-title span {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    gap: 12px;
    transition: all 0.5s;
    font-size: 1rem;
  }
  
  .sidebar-title span .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    font-size: 25px;
  }
  
  .sidebar-title .arrow-icon {
    cursor: pointer;
    transition: all 0.5s;
  }
  
  .sidebar-item.open > .sidebar-title .arrow-icon {
    transform: rotate(90deg);
  }
  
  
  .s-child {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
  }
  
  .s-child:hover {
    border: 1px solid var(--light-blue);
  }
  
  a {
    color: var(--colo-dark);
    text-decoration: none;
    transition: all 0.2s;
  }
  
  .active {
    color: var(--color-primary);
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    /* background-color: #eee; */
  }
  
  .active::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: var(--light-blue);
  }

  .link {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    /* background-color: #eee; */
  }
  .link:hover::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: var(--light-blue);
  }
  
  .sublink .sidebar-item .sidebar-title {
    padding-left: 40px;
  }

