.search {
    margin: 4px 0;
    position: relative;
    flex: 1;
    width:100%;
}
.search .icon {
    position: absolute;
    top: 50%;
    left:1px;
    transform: translateY(-50%);
    border-radius: 50px;
}
.search input[type="text"] {
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 3.2rem;
    margin: 1rem auto;
    width: 100%;
    border: 1px solid var(--color-primary);
    border-radius: 50px;
    outline: none;
   
}

input::placeholder{
    opacity: 0.5;
}